nav {
    background-color: #66ff66;
    box-shadow: 1px 1px 1px black;
    .navTitle {
        font-family: 'Limelight', cursive;
    }
    .a_img {
        width: 5%;
        .logo {
            width: 100%;
        }
    }
}
@media only screen and (min-width: 280px) {
    nav {
        .navTitle {
            font-size: 0.8rem;
        }
        .a_img {
            width: 14%;
            .logo {
                width: 100%;
            }
        }
    }
    .cart-badge {
        display: block;
        width: 27px;
        height: 27px;
        font-size: 1rem;
        text-align: center;
        color: white;
        border-radius: 50%;
        background: black;
    }

    #tamañoSvg {
        width: 40px;
    }

    #cantidadProductos {
        margin-left: 9px;
    }
}

@media only screen and (min-width: 400px) {
    nav {
        .navTitle {
            font-size: 1.2rem;
        }
        .a_img {
            width: 16%;
            .logo {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    nav {
        .navTitle {
            font-size: 2rem;
        }
        .a_img {
            width: 7%;
            .logo {
                width: 100%;
            }
        }
    }
    #tamañoSvg {
        width: 50px;
    }

    #cantidadProductos {
        margin-left: 13px;
    }
}