nav {
    background-color: #66ff66;
    box-shadow: 1px 1px 1px black;
}

@media only screen and (min-width: 280px) {
    nav {
        .a_img {
            width: 50%;
            .logo {
                width: 100%;
            }
        }
    }

    .cart-badge {
        display: block;
        width: 27px;
        height: 27px;
        font-size: 1rem;
        text-align: center;
        color: white;
        border-radius: 50%;
        background: black;
    }

    #tamañoSvg {
        width: 40px;
    }

    #cantidadProductos {
        margin-left: 9px;
    }
}

@media only screen and (min-width: 400px) {
    nav {
        .a_img {
            width: 30%;
            .logo {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    nav {
        .a_img {
            width: 15%;

            .logo {
                width: 100%;
            }
        }
    }

    #tamañoSvg {
        width: 50px;
    }

    #cantidadProductos {
        margin-left: 13px;
    }
}